.wheel {
  position: relative;
  margin-top: 30px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid bisque;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.start-rotate {
  animation: start-rotate 1s linear infinite;
}

@keyframes start-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.stop-rotate {
  animation-play-state: paused;
}

.mainbox {
  position: relative;
  width: 500px;
  height: 500px;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
}

.box span {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
}

.box span .icon {
  width: 65px;
  height: 65px;
  line-height: 65px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.span1 {
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
  background-color: #86a6df;
  top: 120px;
  left: 0;
}

.span2 {
  clip-path: polygon(100% 92%, 0 50%, 100% 8%);
  background-color: #badf55;
  top: 120px;
  right: 0;
}

.span3 {
  clip-path: polygon(50% 0, 8% 100%, 92% 100%);
  background-color: #b06dad;
  bottom: 0;
  left: 120px;
}

.span4 {
  clip-path: polygon(50% 100%, 92% 0, 8% 0);
  background-color: #c5e3f6;
  top: 0;
  left: 120px;
}

.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(-135deg);
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: bisque;
  box-shadow: 0 5px 20px #000;
}

.prize__icon {
  font-size: 30px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.btn-spin {
  margin-top: 30px !important;
  display: block;
  margin: auto;
}